@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin full {
    width: 100%;
    height: 100%;
}

.Notifications_Header{
    position: fixed;
    background-color: #3FBF7F;
    width: 100%;
    z-index: 1;
}

.navbar {
    width: 100%;
    padding-top: 1em;
    padding-right: 1em;
    margin: 0 auto;
    color: LightGray;
}

.buttons{
    float:right;
    padding-bottom: 5px;
}

.Notifications{
    position: relative;
    @include full;
}

.Notifications_List{
    position: absolute;
    height: 50%;
    width: 50%;
    margin-left: 25%;
    text-align: center;
}
