body {
	/*background-image: url("https://wallpaperscraft.com/image/dog_muzzle_butterfly_tongue_sticking_out_spring_summer_93617_1920x1080.jpg");*/
	height: 100%;
	width: 100%;
	background-size: cover;
}

.Dashboard {
	height: 100%;
	width: 100%;
}

.header_home{
	position: fixed;
	background-color: #3FBF7F;
	width: 100%;
	z-index: 1;
}

.navbar {
	width: 100%;
	padding-top: 1em;
	padding-right: 1em;
	margin: 0 auto;
	color: LightGray;
}
.buttons{
	float:right;
	padding-bottom: 5px;
}
.optionHolder {
	margin: 0 auto;
	height: 25%;
	width: 80%;
	padding-top: 6%;
}

.centerer {
	text-align: center;
	height: 20em;
	width: 75%;
	background-color: transparent;
	position: relative;
	margin: 0 auto;
	border-radius: 5%;
	opacity: 0.85;
}

.threeDivider {
	text-align: center;
	height: 15em;
	width: 75%;
	background-color: LightGray;
	position: relative;
	margin: 0 auto;
	border: 10px;
	opacity: 0.85;
	border-style:solid;
	border-color: #3FBF7F;
}
.threeDivider:hover{
	opacity: 1;
}
.threeDividerText {
	color: black;
	position: absolute;
	top: 50%;
    left: 50%;
  	transform: translate(-50%, -50%);
}
