@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin full {
    width: 100%;
    height: 100%;
}
.Search{
    position: relative;
}
.Search_Header{
    position: fixed;
    background-color: #3FBF7F;
    width: 100%;
    z-index: 1;
}

.navbar {
    width: 100%;
    padding-top: 1em;
    padding-right: 1em;
    margin: 0 auto;
    color: LightGray;
}
.buttons{
    float:right;
    padding-bottom: 5px;
}

.Search{
    position: relative;
    @include full;
}

.Search_SearchTools{
    padding: 10px;
}
.Search_ResultsBar{
    z-index: 1;
}

.Search_Body{
    position: absolute;
    height: 70%;
    width: 100%;
}
.Search_Gallery{
    @include center;
}
